.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}

.board .square {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.board .square.active {
    background-color: green;
}